# Data Cleaning and Preparation

## Handing Mssing Data

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import pandas as pd
import numpy as np

In [4]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [5]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [6]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [7]:
string_data[0] = None

In [8]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

### Filtering Out Missing Data

In [9]:
from numpy import nan as NA

In [10]:
data = pd.Series([1,NA,3.5,NA,7])

In [11]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [13]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [14]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])

In [16]:
cleaned = data.dropna()

In [18]:
data
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2
0  1.0  6.5  3.0

In [19]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [20]:
data[4] = NA

In [21]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [22]:
data.dropna(axis=1,how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [23]:
df = pd.DataFrame(np.random.randn(7,3))

In [24]:
df

          0         1         2
0  0.145117  0.560914  0.455198
1 -1.482446  0.030586 -0.800940
2  0.544873 -0.844387  0.771142
3 -0.606056 -1.015243 -1.287205
4  0.874924 -1.191651 -1.314105
5  1.414453  0.690682 -0.102644
6  0.742279  0.383203 -1.006859

In [27]:
df.iloc[:4,1] = NA

In [28]:
df.iloc[:2,2] = NA

In [29]:
df

          0         1         2
0  0.145117       NaN       NaN
1 -1.482446       NaN       NaN
2  0.544873       NaN  0.771142
3 -0.606056       NaN -1.287205
4  0.874924 -1.191651 -1.314105
5  1.414453  0.690682 -0.102644
6  0.742279  0.383203 -1.006859

In [30]:
df.dropna()

          0         1         2
4  0.874924 -1.191651 -1.314105
5  1.414453  0.690682 -0.102644
6  0.742279  0.383203 -1.006859

In [31]:
df.dropna(thresh=2)

          0         1         2
2  0.544873       NaN  0.771142
3 -0.606056       NaN -1.287205
4  0.874924 -1.191651 -1.314105
5  1.414453  0.690682 -0.102644
6  0.742279  0.383203 -1.006859

### Filtering In Missing Data

In [37]:
df.fillna(0)

          0         1         2
0  0.145117  0.000000  0.000000
1 -1.482446  0.000000  0.000000
2  0.544873  0.000000  0.771142
3 -0.606056  0.000000 -1.287205
4  0.874924 -1.191651 -1.314105
5  1.414453  0.690682 -0.102644
6  0.742279  0.383203 -1.006859

In [38]:
df.fillna({1:0.5,2:0})

          0         1         2
0  0.145117  0.500000  0.000000
1 -1.482446  0.500000  0.000000
2  0.544873  0.500000  0.771142
3 -0.606056  0.500000 -1.287205
4  0.874924 -1.191651 -1.314105
5  1.414453  0.690682 -0.102644
6  0.742279  0.383203 -1.006859

In [39]:
_ = df.fillna(0.,inplace=True)

In [41]:
df

          0         1         2
0  0.145117  0.000000  0.000000
1 -1.482446  0.000000  0.000000
2  0.544873  0.000000  0.771142
3 -0.606056  0.000000 -1.287205
4  0.874924 -1.191651 -1.314105
5  1.414453  0.690682 -0.102644
6  0.742279  0.383203 -1.006859

In [42]:
df = pd.DataFrame(np.random.randn(6,3))

In [43]:
df

          0         1         2
0 -0.210743 -0.408277 -0.156443
1 -0.855252  0.525184 -0.147129
2  0.182301  1.309098 -1.604687
3 -1.611549 -1.632750 -0.059899
4 -0.011180 -0.080715  0.290429
5 -0.181439  0.829062 -0.370038

In [44]:
df.iloc[2:,1] = NA
df.iloc[4:,2] = NA

In [45]:
df

          0         1         2
0 -0.210743 -0.408277 -0.156443
1 -0.855252  0.525184 -0.147129
2  0.182301       NaN -1.604687
3 -1.611549       NaN -0.059899
4 -0.011180       NaN       NaN
5 -0.181439       NaN       NaN

In [46]:
df.fillna(method='ffill')

          0         1         2
0 -0.210743 -0.408277 -0.156443
1 -0.855252  0.525184 -0.147129
2  0.182301  0.525184 -1.604687
3 -1.611549  0.525184 -0.059899
4 -0.011180  0.525184 -0.059899
5 -0.181439  0.525184 -0.059899

In [47]:
df.fillna(method='ffill',limit=2)

          0         1         2
0 -0.210743 -0.408277 -0.156443
1 -0.855252  0.525184 -0.147129
2  0.182301  0.525184 -1.604687
3 -1.611549  0.525184 -0.059899
4 -0.011180       NaN -0.059899
5 -0.181439       NaN -0.059899

In [48]:
data = pd.Series([1.,NA,3.5,NA,7])

In [49]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

## Data Transformation

### Removing Duplicates

In [51]:
data = pd.DataFrame({'k1':['one','two']*3 +['two'],
                    'k2':[1,1,2,3,3,4,4]})

In [52]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [53]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [55]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [56]:
data['v1'] = range(7)

In [57]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [58]:
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [59]:
data.drop_duplicates(['k1','k2'],keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### Transforming Data Using a Fuction or Mapping

In [60]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon','Pastrami', 
                              'corned beef', 'Bacon','pastrami', 'honey ham',
                              'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [61]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [62]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [63]:
meat_to_animal

{'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon'}

In [64]:
lowercased = data['food'].str.lower()

In [65]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [66]:
data['animal'] = lowercased.map(meat_to_animal)

In [67]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [68]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### Replacing Value

In [72]:
data = pd.Series([1.,-999.,2.,-999.,-1000.,3.])

In [73]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [74]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [75]:
data.replace([-999,-1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [76]:
data.replace([-999,-1000],[np.nan,0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### Renaming Axis Indexes

In [77]:
data = pd.DataFrame(np.arange(12).reshape((3,4)),
                   index=['Ohio','Colorado','New York'],
                   columns=['one','two','three','four'])

In [78]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [80]:
transform = lambda x: x[:4].upper()

In [81]:
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [84]:
data.index = data.index.map(transform)

In [85]:
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [86]:
data.rename(index=str.title,columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [87]:
data.rename(index={'OHIO':'INDIANA'},
           columns={'three':'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

### Discretization and Binning

In [88]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [89]:
bins = [18, 25, 35, 60, 100]

In [90]:
cats = pd.cut(ages,bins)

In [91]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [92]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [93]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [94]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [95]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [96]:
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [101]:
data = np.random.rand(20)

In [102]:
data

array([0.58107641, 0.38282349, 0.44201561, 0.98828762, 0.07428406,
       0.54784787, 0.00561556, 0.66042624, 0.95424363, 0.59001951,
       0.45943081, 0.31008241, 0.98228159, 0.73585056, 0.65767856,
       0.82968671, 0.59911701, 0.44997299, 0.49738745, 0.57475617])

In [109]:
cats = pd.cut(data,4,precision=2)

In [110]:
pd.value_counts(cats)

(-0.0015, 1.49]    427
(-1.5, -0.0015]    421
(1.49, 2.99]        80
(-3.0, -1.5]        72
dtype: int64

In [105]:
data = np.random.randn(1000) #Normally distributed

In [106]:
cats = pd.qcut(data,4) #Cut into quartiles

In [107]:
cats

[(0.0222, 0.641], (0.641, 2.99], (0.641, 2.99], (0.641, 2.99], (-0.679, 0.0222], ..., (0.641, 2.99], (-2.9939999999999998, -0.679], (-0.679, 0.0222], (-2.9939999999999998, -0.679], (-2.9939999999999998, -0.679]]
Length: 1000
Categories (4, interval[float64]): [(-2.9939999999999998, -0.679] < (-0.679, 0.0222] < (0.0222, 0.641] < (0.641, 2.99]]

In [108]:
pd.value_counts(cats)

(0.641, 2.99]                    250
(0.0222, 0.641]                  250
(-0.679, 0.0222]                 250
(-2.9939999999999998, -0.679]    250
dtype: int64

In [113]:
cats= pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

In [114]:
pd.value_counts(cats)

(0.0222, 1.297]                  400
(-1.243, 0.0222]                 400
(1.297, 2.99]                    100
(-2.9939999999999998, -1.243]    100
dtype: int64

In [115]:
cat = pd.cut(data, [0, 0.1, 0.5, 0.9, 1.])

In [116]:
pd.value_counts(cat)

(0.1, 0.5]    157
(0.5, 0.9]    121
(0.0, 0.1]     42
(0.9, 1.0]     30
dtype: int64

### Detecting and Filtering Outliers

In [117]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [120]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.014998     0.026250    -0.015386     0.089115
std       1.014143     1.013275     0.956732     0.984571
min      -3.602821    -3.099982    -3.602589    -3.550949
25%      -0.683728    -0.665886    -0.631681    -0.594694
50%      -0.004202     0.058857    -0.029189     0.123254
75%       0.688966     0.682558     0.590867     0.714399
max       2.864140     2.620244     2.696221     2.955988

In [121]:
col = data[2]

In [123]:
col[np.abs(col)>3]

205   -3.192715
398   -3.602589
Name: 2, dtype: float64

In [124]:
data[(np.abs(data)>3).any(1)]

            0         1         2         3
205 -0.329051  1.262944 -3.192715  1.325976
370  1.180064  0.921567 -0.448244 -3.550949
398  0.953080  0.503335 -3.602589 -1.469210
686 -3.602821 -0.659758  0.895738 -0.887695
792 -3.170059 -0.479656 -0.293356  0.436703
799  0.054996 -3.099982  0.297189  1.093299

In [125]:
data[np.abs(data)>3] = np.sign(data)*3

In [126]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.014225     0.026350    -0.014591     0.089666
std       1.011669     1.012971     0.954035     0.982684
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.683728    -0.665886    -0.631681    -0.594694
50%      -0.004202     0.058857    -0.029189     0.123254
75%       0.688966     0.682558     0.590867     0.714399
max       2.864140     2.620244     2.696221     2.955988

In [127]:
#The statement np.sign(data) produces 1 and –1 values based on whether the values in data are positive or negative
np.sign(data).head()

     0    1    2    3
0 -1.0 -1.0 -1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0 -1.0  1.0 -1.0
3  1.0  1.0 -1.0 -1.0
4  1.0 -1.0  1.0  1.0

### Permutation and Random Sampling

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [5]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [14]:
sampler = np.random.permutation(5)

In [15]:
sampler

array([2, 4, 1, 3, 0])

In [16]:
df.take(sampler)

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7
3  12  13  14  15
0   0   1   2   3

In [17]:
df.sample(n=3)

    0   1   2   3
4  16  17  18  19
0   0   1   2   3
1   4   5   6   7

In [18]:
choices = pd.Series([5,7,-1,6,4])

In [23]:
draws = choices.sample(n=10,replace=True) 
#To generate a sample with replacement (to allow repeat choices), pass replace=True to sampler

In [24]:
draws

1    7
4    4
4    4
1    7
1    7
4    4
3    6
4    4
3    6
1    7
dtype: int64

### Computing Indicator/Dummt Variables

In [25]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})

In [26]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [27]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [28]:
dummies = pd.get_dummies(df['key'],prefix='key')

In [29]:
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [30]:
df_with_dummy = df[['data1']].join(dummies)

In [31]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

## String Manipulation

### String Object Methods

In [34]:
val = 'a,b,guido'

In [35]:
val.split(',')

['a', 'b', 'guido']

In [37]:
pieces = [x.strip() for x in val.split(',')]

In [38]:
pieces

['a', 'b', 'guido']

In [39]:
first,seccond,third = pieces

In [40]:
first+'::'+seccond+'::'+third

'a::b::guido'

In [42]:
'::'.join(pieces)

'a::b::guido'

In [43]:
val

'a,b,guido'

In [45]:
val.index(',')

1

In [49]:
val.count(',')

2

### Regular Expressions

In [50]:
import re

In [51]:
text = 'foo bar\t baz  \tqux'

In [52]:
text

'foo bar\t baz  \tqux'

In [53]:
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [54]:
regex = re.compile('\s+')

In [56]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [57]:
regex.findall(text)

[' ', '\t ', '  \t']

In [58]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [59]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [60]:
regex = re.compile(pattern,flags=re.IGNORECASE)

In [61]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [62]:
m = regex.search(text)

In [63]:
m

In [67]:
text[m.start():m.end()]

'dave@google.com'

In [69]:
print(regex.match(text))

None

In [70]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

### Vectorized String Functions in pandas

In [71]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}

In [76]:
data = pd.Series(data)

In [77]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [78]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [79]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [80]:
pattern

'[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,4}'

In [81]:
data.str.findall(pattern,flags=re.IGNORECASE)

Dave     [dave@google.com]
Steve    [steve@gmail.com]
Rob        [rob@gmail.com]
Wes                    NaN
dtype: object

In [82]:
matches = data.str.match(pattern, flags=re.IGNORECASE)

In [83]:
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [84]:
matches.str.get(1)

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [86]:
matches.str[:5]

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [88]:
data.str[0]

Dave       d
Steve      s
Rob        r
Wes      NaN
dtype: object