#### Pandas

In [47]:
# Series

import pandas as pd

obj = pd.Series([4,7,-5,3])

In [48]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [49]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [50]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [51]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])

In [52]:
ser2

a    0.0
b    1.0
c    2.0
dtype: float64

In [53]:
ser2.loc[:'b']

a    0.0
b    1.0
dtype: float64

##### Dataframe

In [54]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [55]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [56]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [57]:
pd.DataFrame(data, columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [58]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four','five', 'six'])

In [59]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [60]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [61]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [62]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [63]:
frame2['debt'] = np.arange(6.)

In [64]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [65]:
val = pd.Series([-1.2,-1.5,-1.7], index=['two','four','five'])

In [66]:
frame2['debt'] = val

In [67]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [68]:
frame2['eastern'] = frame2.state == 'Ohio'

In [69]:
frame2

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

In [70]:
del frame2['eastern']

In [71]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [72]:
pop = {'Nevada': {2001:2.4,2002:2.9},
      'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

In [73]:
frame3 = pd.DataFrame(pop)

In [74]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [75]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [76]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [77]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [78]:
obj.rank(method='max')

0    7.0
1    1.0
2    7.0
3    5.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [79]:
obj.rank(ascending=False,method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

##### Correlation and Covariance

In [81]:
import pandas_datareader.data as web

In [82]:
all_data = {ticker: web.get_data_yahoo(ticker)
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [83]:
all_data

{'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2015-12-15   28.200001   27.587500   27.985001   27.622499  213292400.0
 2015-12-16   27.997499   27.200001   27.767500   27.834999  224954000.0
 2015-12-17   28.062500   27.245001   28.004999   27.245001  179091200.0
 2015-12-18   27.379999   26.452499   27.227501   26.507500  385813200.0
 2015-12-21   26.842501   26.392500   26.820000   26.832500  190362400.0
 2015-12-22   26.930000   26.612499   26.850000   26.807501  131157600.0
 2015-12-23   27.212500   26.799999   26.817499   27.152500  130629600.0
 2015-12-24   27.250000   26.987499   27.250000   27.007500   54281600.0
 2015-12-28   26.922501   26.545000   26.897499   26.705000  106816800.0
 2015-12-29   27.357500   26.715000   26.740000   27.184999  123724800.0
 2015-12-30   27.174999   26.795000   27.145000   26.830000  100855200.0
 2015-12-31   26.757500   26.205000   26.752501   26.315001  163649200.0
 2016-01-04   26.342501   25.500000   25.652500   26.337500  270597600.0
 2016-01-05   26.462500   25.602501   26.437500   25.677500  223164000.0
 2016-01-06   25.592501   24.967501   25.139999   25.174999  273829600.0
 2016-01-07   25.032499   24.107500   24.670000   24.112499  324377600.0
 2016-01-08   24.777500   24.190001   24.637501   24.240000  283192000.0
 2016-01-11   24.764999   24.334999   24.742500   24.632500  198957600.0
 2016-01-12   25.172501   24.709999   25.137501   24.990000  196616800.0
 2016-01-13   25.297501   24.325001   25.080000   24.347500  249758400.0
 2016-01-14   25.120001   23.934999   24.490000   24.879999  252680400.0
 2016-01-15   24.427500   23.840000   24.049999   24.282499  319335600.0
 2016-01-19   24.662500   23.875000   24.602501   24.165001  212350800.0
 2016-01-20   24.547501   23.355000   23.775000   24.197500  289337600.0
 2016-01-21   24.469999   23.735001   24.264999   24.075001  208646000.0
 2016-01-22   25.365000   24.592501   24.657499   25.355000  263202000.0
 2016-01-25   25.382500   24.802500   25.379999   24.860001  207178000.0
 2016-01-26   25.219999   24.517500   24.982500   24.997499  300308000.0
 2016-01-27   24.157499   23.334999   24.010000   23.355000  533478800.0
 2016-01-28   23.629999   23.097500   23.447500   23.522499  222715200.0
 ...                ...         ...         ...         ...          ...
 2020-10-30  111.989998  107.720001  111.059998  108.860001  190272600.0
 2020-11-02  110.680000  107.320000  109.110001  108.769997  122866900.0
 2020-11-03  111.489998  108.730003  109.660004  110.440002  107624400.0
 2020-11-04  115.589996  112.349998  114.139999  114.949997  138235500.0
 2020-11-05  119.620003  116.870003  117.949997  119.029999  126387100.0
 2020-11-06  119.199997  116.129997  118.320000  118.690002  114457900.0
 2020-11-09  121.989998  116.050003  120.500000  116.320000  154515300.0
 2020-11-10  117.589996  114.129997  115.550003  115.970001  138023400.0
 2020-11-11  119.629997  116.440002  117.190002  119.489998  112295000.0
 2020-11-12  120.529999  118.570000  119.620003  119.209999  103162300.0
 2020-11-13  119.669998  117.870003  119.440002  119.260002   81581900.0
 2020-11-16  120.989998  118.150002  118.919998  120.300003   91183000.0
 2020-11-17  120.669998  118.959999  119.550003  119.389999   74271000.0
 2020-11-18  119.820000  118.000000  118.610001  118.029999   76322100.0
 2020-11-19  119.059998  116.809998  117.589996  118.639999   74113000.0
 2020-11-20  118.769997  117.290001  118.639999  117.339996   73391400.0
 2020-11-23  117.620003  113.750000  117.180000  113.849998  127959300.0
 2020-11-24  115.849998  112.589996  113.910004  115.169998  113874200.0
 2020-11-25  116.750000  115.169998  115.550003  116.029999   76499200.0
 2020-11-27  117.489998  116.220001  116.570000  116.589996   46691300.0
 2020-11-30  120.970001  116.809998  116.970001  119.050003  169410200.0
 2020-12-01  123.470001  120.010002  121.010002  122.720001  128166800.0
 2020-12-02  123.370003  120.889999  122.019997  123.080002   89004200.0
 2020-12-03  123.779999  122.209999  123.519997  122.940002   78967600.0
 2020-12-04  122.860001  121.519997  122.599998  122.250000   78260400.0
 2020-12-07  124.570000  122.250000  122.309998  123.750000   86712000.0
 2020-12-08  124.980003  123.089996  124.370003  124.379997   82225500.0
 2020-12-09  125.949997  121.000000  124.529999  121.779999  115089200.0
 2020-12-10  123.870003  120.150002  120.500000  123.239998   81312200.0
 2020-12-11  122.760002  120.550003  122.430000  122.410004   86860000.0

              Adj Close
 Date
 2015-12-15   25.383627
 2015-12-16   25.578905
 2015-12-17   25.036730
 2015-12-18   24.359007
 2015-12-21   24.657661
 2015-12-22   24.634689
 2015-12-23   24.951725
 2015-12-24   24.818476
 2015-12-28   24.540495
 2015-12-29   24.981588
 2015-12-30   24.655361
 2015-12-31   24.182106
 2016-01-04   24.202784
 2016-01-05   23.596279
 2016-01-06   23.134508
 2016-01-07   22.158121
 2016-01-08   22.275295
 2016-01-11   22.635979
 2016-01-12   22.964500
 2016-01-13   22.374075
 2016-01-14   22.863413
 2016-01-15   22.314341
 2016-01-19   22.206371
 2016-01-20   22.236237
 2016-01-21   22.123665
 2016-01-22   23.299917
 2016-01-25   22.845039
 2016-01-26   22.971392
 2016-01-27   21.462019
 2016-01-28   21.615946
 ...                ...
 2020-10-30  108.672516
 2020-11-02  108.582664
 2020-11-03  110.249794
 2020-11-04  114.752022
 2020-11-05  118.824997
 2020-11-06  118.690002
 2020-11-09  116.320000
 2020-11-10  115.970001
 2020-11-11  119.489998
 2020-11-12  119.209999
 2020-11-13  119.260002
 2020-11-16  120.300003
 2020-11-17  119.389999
 2020-11-18  118.029999
 2020-11-19  118.639999
 2020-11-20  117.339996
 2020-11-23  113.849998
 2020-11-24  115.169998
 2020-11-25  116.029999
 2020-11-27  116.589996
 2020-11-30  119.050003
 2020-12-01  122.720001
 2020-12-02  123.080002
 2020-12-03  122.940002
 2020-12-04  122.250000
 2020-12-07  123.750000
 2020-12-08  124.379997
 2020-12-09  121.779999
 2020-12-10  123.239998
 2020-12-11  122.410004

 [1258 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2015-12-15  138.970001  137.279999  137.399994  137.789993   4238500.0
 2015-12-16  139.649994  137.789993  139.119995  139.289993   4345500.0
 2015-12-17  139.500000  136.309998  139.350006  136.750000   4089500.0
 2015-12-18  136.960007  134.270004  136.410004  134.899994  10026100.0
 2015-12-21  135.830002  134.020004  135.830002  135.500000   5617500.0
 2015-12-22  138.190002  135.649994  135.880005  137.929993   4263800.0
 2015-12-23  139.309998  138.110001  138.300003  138.539993   5164900.0
 2015-12-24  138.880005  138.110001  138.429993  138.250000   1495200.0
 2015-12-28  138.039993  136.539993  137.740005  137.610001   3143400.0
 2015-12-29  140.059998  138.199997  138.250000  139.779999   3943700.0
 2015-12-30  140.440002  139.220001  139.580002  139.339996   2989400.0
 2015-12-31  139.100006  137.570007  139.070007  137.619995   3462100.0
 2016-01-04  135.970001  134.240005  135.600006  135.949997   5229400.0
 2016-01-05  136.889999  134.850006  136.759995  135.850006   3924800.0
 2016-01-06  135.580002  133.619995  134.380005  135.169998   4310900.0
 2016-01-07  135.020004  132.429993  133.699997  132.860001   7025800.0
 2016-01-08  133.820007  131.320007  133.179993  131.630005   4762700.0
 2016-01-11  133.820007  131.759995  131.809998  133.229996   4974400.0
 2016-01-12  133.779999  131.130005  133.649994  132.899994   5078700.0
 2016-01-13  134.279999  131.100006  133.500000  131.169998   4700100.0
 2016-01-14  133.789993  131.220001  131.929993  132.910004   5709600.0
 2016-01-15  130.880005  128.869995  130.009995  130.029999   9008500.0
 2016-01-19  132.100006  128.059998  130.110001  128.110001   9979600.0
 2016-01-20  123.989998  118.000000  118.459999  121.860001  16157800.0
 2016-01-21  125.099998  120.580002  121.300003  122.910004   8851600.0
 2016-01-22  124.739998  121.769997  124.669998  122.500000   9238400.0
 2016-01-25  124.230003  121.639999  122.099998  122.080002   5446000.0
 2016-01-26  123.610001  122.239998  122.250000  122.589996   4617800.0
 2016-01-27  123.370003  120.650002  122.730003  120.959999   5026400.0
 2016-01-28  122.830002  121.010002  121.260002  122.220001   3942500.0
 ...                ...         ...         ...         ...         ...
 2020-10-30  111.800003  107.750000  107.900002  111.660004   7921500.0
 2020-11-02  113.830002  112.250000  112.650002  112.910004   5311500.0
 2020-11-03  115.650002  113.629997  114.000000  114.160004   4204300.0
 2020-11-04  113.910004  111.160004  112.330002  111.900002   5800100.0
 2020-11-05  115.290001  113.010002  113.300003  114.769997   4902200.0
 2020-11-06  115.099998  113.389999  115.080002  114.040001   5249200.0
 2020-11-09  119.739998  115.269997  117.879997  115.529999   8992200.0
 2020-11-10  118.169998  116.250000  116.690002  117.910004   5622800.0
 2020-11-11  118.349998  116.220001  118.120003  117.199997   4289600.0
 2020-11-12  116.370003  113.480003  115.629997  114.500000   6498200.0
 2020-11-13  117.370003  115.010002  115.190002  116.849998   4682600.0
 2020-11-16  118.550003  117.120003  118.300003  118.360001   5293400.0
 2020-11-17  118.540001  117.070000  117.599998  117.699997   4134500.0
 2020-11-18  118.879997  116.750000  117.720001  116.769997   4606800.0
 2020-11-19  117.449997  115.889999  116.540001  117.180000   3439600.0
 2020-11-20  118.040001  116.690002  117.599998  116.940002   5024300.0
 2020-11-23  120.519997  117.269997  117.430000  120.089996   5650400.0
 2020-11-24  124.730003  120.809998  120.860001  124.419998   7752500.0
 2020-11-25  124.330002  122.110001  122.930000  124.199997   4135900.0
 2020-11-27  125.309998  123.910004  124.199997  124.349998   2091200.0
 2020-11-30  125.000000  123.089996  124.099998  123.519997   5988000.0
 2020-12-01  125.830002  123.080002  123.900002  123.160004   5312100.0
 2020-12-02  124.639999  122.410004  122.849998  124.620003   3690700.0
 2020-12-03  124.860001  123.290001  124.160004  123.610001   4548200.0
 2020-12-04  127.379997  123.639999  123.970001  127.199997   5522800.0
 2020-12-07  126.970001  124.570000  126.489998  124.699997   8318500.0
 2020-12-08  126.330002  124.639999  125.320000  125.709999   5395000.0
 2020-12-09  127.690002  125.699997  125.800003  126.790001   6513500.0
 2020-12-10  126.930000  124.940002  126.349998  124.959999   4803200.0
 2020-12-11  125.510002  123.610001  124.080002  124.269997   4480900.0

              Adj Close
 Date
 2015-12-15  109.785408
 2015-12-16  110.980545
 2015-12-17  108.956772
 2015-12-18  107.482788
 2015-12-21  107.960846
 2015-12-22  109.896957
 2015-12-23  110.382957
 2015-12-24  110.151917
 2015-12-28  109.641991
 2015-12-29  111.370964
 2015-12-30  111.020401
 2015-12-31  109.649956
 2016-01-04  108.319374
 2016-01-05  108.239723
 2016-01-06  107.697914
 2016-01-07  105.857414
 2016-01-08  104.877380
 2016-01-11  106.152191
 2016-01-12  105.889252
 2016-01-13  104.510864
 2016-01-14  105.897240
 2016-01-15  103.602547
 2016-01-19  102.072784
 2016-01-20   97.093033
 2016-01-21   97.929649
 2016-01-22   97.602982
 2016-01-25   97.268311
 2016-01-26   97.674690
 2016-01-27   96.375954
 2016-01-28   97.379875
 ...                ...
 2020-10-30  110.064018
 2020-11-02  111.296150
 2020-11-03  112.528282
 2020-11-04  110.300583
 2020-11-05  113.129562
 2020-11-06  112.409996
 2020-11-09  115.529999
 2020-11-10  117.910004
 2020-11-11  117.199997
 2020-11-12  114.500000
 2020-11-13  116.849998
 2020-11-16  118.360001
 2020-11-17  117.699997
 2020-11-18  116.769997
 2020-11-19  117.180000
 2020-11-20  116.940002
 2020-11-23  120.089996
 2020-11-24  124.419998
 2020-11-25  124.199997
 2020-11-27  124.349998
 2020-11-30  123.519997
 2020-12-01  123.160004
 2020-12-02  124.620003
 2020-12-03  123.610001
 2020-12-04  127.199997
 2020-12-07  124.699997
 2020-12-08  125.709999
 2020-12-09  126.790001
 2020-12-10  124.959999
 2020-12-11  124.269997

 [1258 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close      Volume  \
 Date
 2015-12-15   55.900002   55.090000   55.660000   55.200001  39843000.0
 2015-12-16   56.250000   54.759998   55.540001   56.130001  37503300.0
 2015-12-17   56.790001   55.529999   56.360001   55.700001  41280900.0
 2015-12-18   56.000000   54.029999   55.770000   54.130001  84684200.0
 2015-12-21   55.349998   54.230000   54.880001   54.830002  37246300.0
 2015-12-22   55.480000   54.500000   54.990002   55.349998  28322200.0
 2015-12-23   55.880001   55.439999   55.700001   55.820000  27279800.0
 2015-12-24   55.959999   55.430000   55.860001   55.669998   9558500.0
 2015-12-28   55.950001   54.980000   55.349998   55.950001  22458300.0
 2015-12-29   56.849998   56.060001   56.290001   56.549999  27731400.0
 2015-12-30   56.779999   56.290001   56.470001   56.310001  21704500.0
 2015-12-31   56.189999   55.419998   56.040001   55.480000  27334100.0
 2016-01-04   54.799999   53.389999   54.320000   54.799999  53778000.0
 2016-01-05   55.389999   54.540001   54.930000   55.049999  34079700.0
 2016-01-06   54.400002   53.639999   54.320000   54.049999  39518900.0
 2016-01-07   53.490002   52.070000   52.700001   52.169998  56564900.0
 2016-01-08   53.279999   52.150002   52.369999   52.330002  48754000.0
 2016-01-11   52.849998   51.459999   52.509998   52.299999  36943800.0
 2016-01-12   53.099998   52.060001   52.759998   52.779999  36095500.0
 2016-01-13   54.070000   51.299999   53.799999   51.639999  66883600.0
 2016-01-14   53.419998   51.570000   52.000000   53.110001  52381900.0
 2016-01-15   51.970001   50.340000   51.310001   50.990002  71820700.0
 2016-01-19   51.680000   50.060001   51.480000   50.560001  43564500.0
 2016-01-20   51.380001   49.099998   49.980000   50.790001  63273000.0
 2016-01-21   51.580002   50.299999   51.000000   50.480000  40191200.0
 2016-01-22   52.330002   51.259998   51.410000   52.290001  37555800.0
 2016-01-25   52.650002   51.650002   51.939999   51.790001  34707700.0
 2016-01-26   52.439999   51.549999   51.790001   52.169998  28900800.0
 2016-01-27   52.200001   51.020000   52.009998   51.220001  36775200.0
 2016-01-28   52.209999   51.250000   51.860001   52.060001  62513800.0
 ...                ...         ...         ...         ...         ...
 2020-10-30  204.289993  199.619995  203.500000  202.470001  36953700.0
 2020-11-02  205.279999  200.119995  204.289993  202.330002  30842200.0
 2020-11-03  208.119995  203.119995  203.889999  206.429993  27512000.0
 2020-11-04  218.320007  212.419998  214.020004  216.389999  42311800.0
 2020-11-05  224.119995  221.149994  222.039993  223.289993  36080100.0
 2020-11-06  224.360001  218.029999  222.259995  223.720001  25231900.0
 2020-11-09  228.119995  217.880005  224.440002  218.389999  44395000.0
 2020-11-10  216.500000  209.720001  214.500000  211.009995  44045100.0
 2020-11-11  218.039993  212.199997  212.389999  216.550003  29440800.0
 2020-11-12  219.110001  214.460007  217.210007  215.440002  21593900.0
 2020-11-13  217.419998  214.160004  216.360001  216.509995  18621100.0
 2020-11-16  217.740005  214.520004  214.869995  217.229996  24953300.0
 2020-11-17  217.679993  214.080002  216.100006  214.460007  24154100.0
 2020-11-18  215.169998  210.929993  213.649994  211.080002  28372800.0
 2020-11-19  213.029999  209.929993  211.380005  212.419998  24792700.0
 2020-11-20  213.289993  210.000000  212.199997  210.389999  22829100.0
 2020-11-23  212.289993  208.160004  210.949997  210.110001  25683500.0
 2020-11-24  214.250000  208.860001  209.589996  213.860001  33979700.0
 2020-11-25  215.289993  212.460007  215.110001  213.869995  21012900.0
 2020-11-27  216.270004  214.039993  214.850006  215.229996  14512200.0
 2020-11-30  214.759995  210.839996  214.100006  214.070007  33064800.0
 2020-12-01  217.320007  213.350006  214.509995  216.210007  30931300.0
 2020-12-02  215.470001  212.800003  214.880005  215.369995  23724500.0
 2020-12-03  216.380005  213.649994  214.610001  214.240005  25120900.0
 2020-12-04  215.380005  213.179993  214.220001  214.360001  24666000.0
 2020-12-07  215.539993  212.990005  214.369995  214.289993  24620000.0
 2020-12-08  216.949997  212.889999  213.970001  216.009995  23284100.0
 2020-12-09  215.229996  211.210007  215.160004  211.800003  32440600.0
 2020-12-10  213.080002  210.360001  211.770004  210.520004  26733300.0
 2020-12-11  213.320007  209.110001  210.050003  213.259995  30972600.0

              Adj Close
 Date
 2015-12-15   50.371754
 2015-12-16   51.220406
 2015-12-17   50.828026
 2015-12-18   49.395348
 2015-12-21   50.034130
 2015-12-22   50.508629
 2015-12-23   50.937519
 2015-12-24   50.800640
 2015-12-28   51.056156
 2015-12-29   51.603676
 2015-12-30   51.384666
 2015-12-31   50.627274
 2016-01-04   50.006744
 2016-01-05   50.234879
 2016-01-06   49.322346
 2016-01-07   47.606789
 2016-01-08   47.752792
 2016-01-11   47.725410
 2016-01-12   48.163425
 2016-01-13   47.123150
 2016-01-14   48.464577
 2016-01-15   46.530006
 2016-01-19   46.137611
 2016-01-20   46.347496
 2016-01-21   46.064606
 2016-01-22   47.716290
 2016-01-25   47.260017
 2016-01-26   47.606789
 2016-01-27   46.739880
 2016-01-28   47.506405
 ...                ...
 2020-10-30  201.941315
 2020-11-02  201.801666
 2020-11-03  205.890961
 2020-11-04  215.824951
 2020-11-05  222.706940
 2020-11-06  223.135818
 2020-11-09  217.819733
 2020-11-10  210.459000
 2020-11-11  215.984543
 2020-11-12  214.877441
 2020-11-13  215.944641
 2020-11-16  216.662766
 2020-11-17  213.900009
 2020-11-18  211.080002
 2020-11-19  212.419998
 2020-11-20  210.389999
 2020-11-23  210.110001
 2020-11-24  213.860001
 2020-11-25  213.869995
 2020-11-27  215.229996
 2020-11-30  214.070007
 2020-12-01  216.210007
 2020-12-02  215.369995
 2020-12-03  214.240005
 2020-12-04  214.360001
 2020-12-07  214.289993
 2020-12-08  216.009995
 2020-12-09  211.800003
 2020-12-10  210.520004
 2020-12-11  213.259995

 [1258 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close   Volume  \
 Date
 2015-12-15   758.080017   743.010010   753.000000   743.400024  2666200
 2015-12-16   760.590027   739.434998   750.000000   758.090027  1993300
 2015-12-17   762.679993   749.000000   762.419983   749.429993  1553400
 2015-12-18   754.130005   738.150024   746.510010   739.309998  3148700
 2015-12-21   750.000000   740.000000   746.130005   747.770020  1525700
 2015-12-22   754.849976   745.530029   751.650024   750.000000  1365400
 2015-12-23   754.210022   744.000000   753.469971   750.309998  1565900
 2015-12-24   751.349976   746.619995   749.549988   748.400024   527200
 2015-12-28   762.989990   749.520020   752.919983   762.510010  1515300
 2015-12-29   779.979980   766.429993   766.690002   776.599976  1765000
 2015-12-30   777.599976   766.900024   776.599976   771.000000  1293300
 2015-12-31   769.500000   758.340027   769.500000   758.880005  1500900
 2016-01-04   744.059998   731.257996   743.000000   741.840027  3272800
 2016-01-05   752.000000   738.640015   746.450012   742.580017  1950700
 2016-01-06   747.179993   728.919983   730.000000   743.619995  1947000
 2016-01-07   738.500000   719.059998   730.309998   726.390015  2963700
 2016-01-08   733.229980   713.000000   731.450012   714.469971  2450900
 2016-01-11   718.854980   703.539978   716.609985   716.030029  2090600
 2016-01-12   728.750000   717.317017   721.679993   726.070007  2024500
 2016-01-13   734.739990   698.609985   730.849976   700.559998  2501700
 2016-01-14   721.924988   689.099976   705.380005   714.719971  2225800
 2016-01-15   706.739990   685.369995   692.289978   694.450012  3608100
 2016-01-19   709.979980   693.409973   703.299988   701.789978  2268100
 2016-01-20   706.849976   673.260010   688.609985   698.450012  3445000
 2016-01-21   719.190002   694.460022   702.179993   706.590027  2412200

In [ ]:
price = pd.DataFrame({ticker: data['Adj Close']
                      for ticker, data in all_data.items()})