# Time Series

## Data and Time Data Types and Tools

In [1]:
from datetime import  datetime
import pandas as pd

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2021, 1, 5, 11, 50, 24, 582488)

In [4]:
now.year, now.month, now.day

(2021, 1, 5)

In [5]:
delta = datetime(2011,1,7) -  datetime(2008,6,24,8,15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011,1,7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datatime

In [13]:
stamp = datetime(2011,1,3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
stamp.strftime('%Y/%m/%d')

'2011/01/03'

In [17]:
value = '2011/01/03'

In [18]:
datetime.strptime(value,'%Y/%m/%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs = ['7/6/2011','8/6/2011']

In [20]:
[datetime.strptime(x, '%m/%d/%Y')for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [21]:
from dateutil.parser import parse

In [22]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
parse('Jan31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [25]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [26]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [27]:
idx = pd.to_datetime(datestrs +[None])

In [28]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [29]:
idx[2]

NaT

In [30]:
pd.isnull(idx)

array([False, False,  True])

## Time Series Basics

In [31]:
from datetime import datetime
import numpy as np

In [32]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [33]:
ts = pd.Series(np.random.randn(6), index=dates)

In [34]:
ts

2011-01-02   -1.384309
2011-01-05   -0.346349
2011-01-07   -0.054467
2011-01-08    1.056240
2011-01-10    1.163844
2011-01-12   -0.042229
dtype: float64

In [35]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [36]:
ts +ts[::2]

2011-01-02   -2.768618
2011-01-05         NaN
2011-01-07   -0.108934
2011-01-08         NaN
2011-01-10    2.327688
2011-01-12         NaN
dtype: float64

In [37]:
ts.index.dtype

dtype('<M8[ns]')

In [38]:
stamp = ts.index[0]

In [39]:
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing,Selection,Subsetting

In [40]:
stamp = ts.index[2]

In [41]:
ts[stamp]

-0.054466969925273605

In [42]:
ts['20110110']

1.163844010227417

In [43]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [44]:
longer_ts

2000-01-01    1.952708
2000-01-02   -0.650582
2000-01-03    0.547195
2000-01-04   -0.722676
2000-01-05    0.702613
                ...
2002-09-22    1.871324
2002-09-23   -1.223577
2002-09-24   -1.365614
2002-09-25    1.553135
2002-09-26   -1.954542
Freq: D, Length: 1000, dtype: float64

In [45]:
longer_ts['2001']

2001-01-01    0.897165
2001-01-02   -0.705035
2001-01-03    0.859259
2001-01-04    1.923238
2001-01-05   -1.437473
                ...
2001-12-27    0.180686
2001-12-28   -0.924353
2001-12-29    1.116310
2001-12-30   -1.336905
2001-12-31    0.519885
Freq: D, Length: 365, dtype: float64

In [46]:
longer_ts['2001-05']

2001-05-01    0.173365
2001-05-02   -0.377959
2001-05-03    0.411072
2001-05-04   -0.426107
2001-05-05   -0.191160
2001-05-06    1.311621
2001-05-07   -1.096556
2001-05-08    0.957220
2001-05-09    0.129289
2001-05-10    0.056873
2001-05-11    0.697083
2001-05-12   -0.224720
2001-05-13   -1.779138
2001-05-14   -0.730556
2001-05-15    1.093070
2001-05-16   -1.505353
2001-05-17   -0.321063
2001-05-18   -1.015245
2001-05-19   -0.221030
2001-05-20    0.434638
2001-05-21   -0.353092
2001-05-22   -1.418980
2001-05-23   -1.076926
2001-05-24    2.296965
2001-05-25    1.631235
2001-05-26    1.530639
2001-05-27    1.973630
2001-05-28    0.120826
2001-05-29   -1.288828
2001-05-30    2.056557
2001-05-31   -1.139767
Freq: D, dtype: float64

In [47]:
ts[datetime(2011,1,8):]

2011-01-08    1.056240
2011-01-10    1.163844
2011-01-12   -0.042229
dtype: float64

In [48]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.054467
2011-01-08    1.056240
2011-01-10    1.163844
dtype: float64

In [49]:
 ts.truncate(after='1/9/2011')

2011-01-02   -1.384309
2011-01-05   -0.346349
2011-01-07   -0.054467
2011-01-08    1.056240
dtype: float64

In [50]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [51]:
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [52]:
long_df.loc['05-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.672341 -2.292245  1.099728  0.432059
2001-05-09  1.134997  0.803461  0.357655  0.846241
2001-05-16  0.897592  0.517046 -0.932198 -0.032762
2001-05-23 -0.614541  0.680595  0.089582  0.450977
2001-05-30  1.436578 -0.496209  0.123388 -2.132377

### Time Series with Duplicate Indices

In [53]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [54]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [55]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [56]:
dup_ts.index.is_unique

False

In [57]:
dup_ts['1/3/2000']

4

In [58]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [59]:
grouped = dup_ts.groupby(level=0)

In [60]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

## Data Ranges, Frequencies, and Shifting

In [61]:
ts

2011-01-02   -1.384309
2011-01-05   -0.346349
2011-01-07   -0.054467
2011-01-08    1.056240
2011-01-10    1.163844
2011-01-12   -0.042229
dtype: float64

In [62]:
resampler = ts.resample('D')

### Generating Date Ranges

In [63]:
index = pd.date_range('2012-04-01','2012-06-01')

In [64]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [65]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [66]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [67]:
pd.date_range('2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [68]:
pd.date_range('2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Data Offsets

In [69]:
from pandas.tseries.offsets import Hour, Minute

In [70]:
hour = Hour()

In [71]:
hour

In [72]:
four_hours = Hour(4)

In [73]:
four_hours

In [74]:
pd.date_range('2000-01-01','2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [75]:
Hour(2) +Minute(30)

In [76]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [77]:
rng = pd.date_range('2012-01-01','2012-09-01', freq='WOM-3FRI')

In [78]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting(Leading and Lagging) Data

In [79]:
 ts = pd.Series(np.random.randn(4),
                 index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [80]:
ts

2000-01-31   -0.785895
2000-02-29    0.379929
2000-03-31   -0.808850
2000-04-30    1.068132
Freq: M, dtype: float64

In [81]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.785895
2000-04-30    0.379929
Freq: M, dtype: float64

In [82]:
ts.shift(-2)

2000-01-31   -0.808850
2000-02-29    1.068132
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [83]:
ts/ts.shift(1)-1

2000-01-31         NaN
2000-02-29   -1.483434
2000-03-31   -3.128954
2000-04-30   -2.320556
Freq: M, dtype: float64

In [84]:
ts.shift(2, freq='M')

2000-03-31   -0.785895
2000-04-30    0.379929
2000-05-31   -0.808850
2000-06-30    1.068132
Freq: M, dtype: float64

In [85]:
ts.shift(3,freq='D')

2000-02-03   -0.785895
2000-03-03    0.379929
2000-04-03   -0.808850
2000-05-03    1.068132
dtype: float64

In [86]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00   -0.785895
2000-02-29 01:30:00    0.379929
2000-03-31 01:30:00   -0.808850
2000-04-30 01:30:00    1.068132
dtype: float64

In [87]:
ts

2000-01-31   -0.785895
2000-02-29    0.379929
2000-03-31   -0.808850
2000-04-30    1.068132
Freq: M, dtype: float64

In [88]:
from pandas.tseries.offsets import Day, MonthEnd

In [89]:
now = datetime(2011,11,17)

In [90]:
now +3 * Day()

Timestamp('2011-11-20 00:00:00')

In [91]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [92]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [93]:
offset = MonthEnd()

In [94]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [95]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [96]:
ts =  pd.Series(np.random.randn(20),
                 index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [97]:
ts

2000-01-15    0.586728
2000-01-19    0.666322
2000-01-23   -1.441622
2000-01-27   -0.925911
2000-01-31   -0.004694
2000-02-04    0.824746
2000-02-08   -0.040575
2000-02-12    0.652026
2000-02-16    1.107927
2000-02-20    0.113376
2000-02-24   -0.192031
2000-02-28   -1.274397
2000-03-03   -2.657338
2000-03-07   -0.972331
2000-03-11    0.218037
2000-03-15   -0.345293
2000-03-19    0.096697
2000-03-23    1.076519
2000-03-27    1.085847
2000-03-31    1.121155
Freq: 4D, dtype: float64

In [98]:
ts.groupby(offset.rollback).mean()

1999-12-31   -0.278621
2000-01-31    0.148297
2000-02-29   -0.213980
2000-03-31    1.121155
dtype: float64

In [99]:
(1.452907+0.524357-0.027749+1.363140-1.343510)/5

0.393829

In [100]:
ts.resample('M').mean()

2000-01-31   -0.223836
2000-02-29    0.170153
2000-03-31   -0.047088
Freq: M, dtype: float64

## Time Zone Handling

In [101]:
import pytz

In [102]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [103]:
tz = pytz.timezone('America/New_York')

In [104]:
tz

### Time Zone Localization and Conversion

In [105]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [106]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [107]:
ts

2012-03-09 09:30:00    0.479151
2012-03-10 09:30:00   -0.780109
2012-03-11 09:30:00   -0.557572
2012-03-12 09:30:00   -1.530093
2012-03-13 09:30:00   -0.836959
2012-03-14 09:30:00   -1.803045
Freq: D, dtype: float64

In [108]:
print(ts.index.tz)

None

In [109]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [110]:
ts

2012-03-09 09:30:00    0.479151
2012-03-10 09:30:00   -0.780109
2012-03-11 09:30:00   -0.557572
2012-03-12 09:30:00   -1.530093
2012-03-13 09:30:00   -0.836959
2012-03-14 09:30:00   -1.803045
Freq: D, dtype: float64

In [111]:
ts_utc = ts.tz_localize('UTC')

In [112]:
ts_utc

2012-03-09 09:30:00+00:00    0.479151
2012-03-10 09:30:00+00:00   -0.780109
2012-03-11 09:30:00+00:00   -0.557572
2012-03-12 09:30:00+00:00   -1.530093
2012-03-13 09:30:00+00:00   -0.836959
2012-03-14 09:30:00+00:00   -1.803045
Freq: D, dtype: float64

In [113]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [114]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.479151
2012-03-10 04:30:00-05:00   -0.780109
2012-03-11 05:30:00-04:00   -0.557572
2012-03-12 05:30:00-04:00   -1.530093
2012-03-13 05:30:00-04:00   -0.836959
2012-03-14 05:30:00-04:00   -1.803045
Freq: D, dtype: float64

In [115]:
ts_eastern = ts.tz_localize('America/New_York')

In [116]:
ts_eastern

2012-03-09 09:30:00-05:00    0.479151
2012-03-10 09:30:00-05:00   -0.780109
2012-03-11 09:30:00-04:00   -0.557572
2012-03-12 09:30:00-04:00   -1.530093
2012-03-13 09:30:00-04:00   -0.836959
2012-03-14 09:30:00-04:00   -1.803045
dtype: float64

In [117]:
ts

2012-03-09 09:30:00    0.479151
2012-03-10 09:30:00   -0.780109
2012-03-11 09:30:00   -0.557572
2012-03-12 09:30:00   -1.530093
2012-03-13 09:30:00   -0.836959
2012-03-14 09:30:00   -1.803045
Freq: D, dtype: float64

In [118]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.479151
2012-03-10 14:30:00+00:00   -0.780109
2012-03-11 13:30:00+00:00   -0.557572
2012-03-12 13:30:00+00:00   -1.530093
2012-03-13 13:30:00+00:00   -0.836959
2012-03-14 13:30:00+00:00   -1.803045
dtype: float64

In [119]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.479151
2012-03-10 15:30:00+01:00   -0.780109
2012-03-11 14:30:00+01:00   -0.557572
2012-03-12 14:30:00+01:00   -1.530093
2012-03-13 14:30:00+01:00   -0.836959
2012-03-14 14:30:00+01:00   -1.803045
dtype: float64

In [120]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

### Operations with Time Zone- Aware Timestamp Objects

In [121]:
 stamp = pd.Timestamp('2011-03-12 04:00')

In [122]:
stamp_utc = stamp.tz_localize('utc')

In [123]:
stamp

Timestamp('2011-03-12 04:00:00')

In [124]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [125]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [126]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [127]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [128]:
stamp_utc.value

1299902400000000000

In [129]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [130]:
from pandas.tseries.offsets import Hour

In [131]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [132]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [133]:
stamp +Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [134]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [135]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [136]:
stamp +2 *Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [137]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [138]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [139]:
ts

2012-03-07 09:30:00    1.132753
2012-03-08 09:30:00    0.210858
2012-03-09 09:30:00   -1.060757
2012-03-12 09:30:00   -0.571017
2012-03-13 09:30:00   -1.155112
2012-03-14 09:30:00    1.658619
2012-03-15 09:30:00   -0.296683
2012-03-16 09:30:00    1.222576
2012-03-19 09:30:00    0.742418
2012-03-20 09:30:00    0.469141
Freq: B, dtype: float64

In [140]:
ts1 = ts[:7].tz_localize('Europe/London')

In [141]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [142]:
result = ts1 + ts2

In [143]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [144]:
ts1

2012-03-07 09:30:00+00:00    1.132753
2012-03-08 09:30:00+00:00    0.210858
2012-03-09 09:30:00+00:00   -1.060757
2012-03-12 09:30:00+00:00   -0.571017
2012-03-13 09:30:00+00:00   -1.155112
2012-03-14 09:30:00+00:00    1.658619
2012-03-15 09:30:00+00:00   -0.296683
dtype: float64

In [145]:
ts2

2012-03-09 13:30:00+04:00   -1.060757
2012-03-12 13:30:00+04:00   -0.571017
2012-03-13 13:30:00+04:00   -1.155112
2012-03-14 13:30:00+04:00    1.658619
2012-03-15 13:30:00+04:00   -0.296683
dtype: float64

In [146]:
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -2.121514
2012-03-12 09:30:00+00:00   -1.142034
2012-03-13 09:30:00+00:00   -2.310225
2012-03-14 09:30:00+00:00    3.317238
2012-03-15 09:30:00+00:00   -0.593367
dtype: float64

## Periods and Period Arithmetic

In [147]:
p = pd.Period(2007, freq='A-DEC')

In [148]:
p

Period('2007', 'A-DEC')

In [149]:
p+5

Period('2012', 'A-DEC')

In [150]:
p-2

Period('2005', 'A-DEC')

In [151]:
pd.Period('2014', freq='A-DEC') -p

In [152]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [153]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [154]:
pd.Series(np.random.randn(6), index = rng)

2000-01   -0.575127
2000-02   -0.250599
2000-03    0.235931
2000-04   -1.768464
2000-05    1.042622
2000-06    0.878150
Freq: M, dtype: float64

In [155]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [156]:
index = pd. PeriodIndex(values, freq='Q-DEC')

In [157]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

###  Period Frequency Conversion

In [158]:
p = pd.Period('2007' , freq='A-DEC')

In [159]:
p

Period('2007', 'A-DEC')

In [160]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [161]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [162]:
p=pd.Period('2007', freq='A-JUN')

In [163]:
p

Period('2007', 'A-JUN')

In [164]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [165]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [166]:
p = pd.Period('Aug-2007','M')

In [167]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [168]:
rng = pd.period_range('2006','2009',freq='A-DEC')

In [169]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [170]:
ts

2006   -0.691117
2007   -0.070100
2008    0.169204
2009    0.204518
Freq: A-DEC, dtype: float64

In [171]:
ts.asfreq('M', how='start')

2006-01   -0.691117
2007-01   -0.070100
2008-01    0.169204
2009-01    0.204518
Freq: M, dtype: float64

In [172]:
ts.asfreq('B', how='end')

2006-12-29   -0.691117
2007-12-31   -0.070100
2008-12-31    0.169204
2009-12-31    0.204518
Freq: B, dtype: float64

### Quarterly Period Frequencies

In [173]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [174]:
p

Period('2012Q4', 'Q-JAN')

In [175]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [176]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [177]:
p4pm = (p.asfreq('B','e')-1).asfreq('T','s') +16*60

In [178]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [179]:
rng = pd.period_range('2011Q3','2012Q4',freq='Q-JAN')

In [180]:
ts = pd.Series(np.arange(len(rng)), index=rng)

In [181]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [182]:
new_rng = (rng.asfreq('B','e')-1).asfreq('T','s') +16*60

In [183]:
ts.index = new_rng.to_timestamp()

In [184]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

### Converting Timestamps to Periods(and Back)

In [185]:
rng = pd. date_range('2000-01-01', periods=3, freq='M')

In [186]:
ts = pd.Series(np.random.randn(3), index=rng)

In [187]:
ts

2000-01-31    2.124377
2000-02-29   -0.515362
2000-03-31   -1.172383
Freq: M, dtype: float64

In [188]:
pts = ts.to_period()

In [189]:
pts

2000-01    2.124377
2000-02   -0.515362
2000-03   -1.172383
Freq: M, dtype: float64

In [190]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [191]:
ts2 = pd.Series(np.random.randn(6),index=rng)

In [192]:
ts2

2000-01-29   -1.369782
2000-01-30    0.202793
2000-01-31   -1.338421
2000-02-01   -1.780097
2000-02-02    0.135363
2000-02-03   -1.701328
Freq: D, dtype: float64

In [193]:
ts2.to_period('M')

2000-01   -1.369782
2000-01    0.202793
2000-01   -1.338421
2000-02   -1.780097
2000-02    0.135363
2000-02   -1.701328
Freq: M, dtype: float64

In [194]:
pts = ts2.to_period()

In [195]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999   -1.369782
2000-01-30 23:59:59.999999999    0.202793
2000-01-31 23:59:59.999999999   -1.338421
2000-02-01 23:59:59.999999999   -1.780097
2000-02-02 23:59:59.999999999    0.135363
2000-02-03 23:59:59.999999999   -1.701328
Freq: D, dtype: float64

### Creating a PeriodIndex from Arrays

In [197]:
data = pd.read_csv(r"C:\Users\George.Hu\Desktop\python\Python_for_Data_Analysis\macrodata.csv")

In [199]:
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [200]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [201]:
index = pd.PeriodIndex(year = data.year, quarter = data.quarter, freq='Q-DEC')

In [202]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [203]:
data.index = index

In [204]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

## Resampling and Frequency Conversion

In [205]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [206]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [207]:
ts

2000-01-01    0.287567
2000-01-02   -0.635381
2000-01-03   -0.281201
2000-01-04    0.926303
2000-01-05   -1.807903
                ...
2000-04-05    0.681655
2000-04-06   -0.196966
2000-04-07    0.216483
2000-04-08    0.624297
2000-04-09    0.667450
Freq: D, Length: 100, dtype: float64

In [208]:
ts.resample('M').mean()

2000-01-31   -0.402003
2000-02-29   -0.125090
2000-03-31    0.240654
2000-04-30    0.107905
Freq: M, dtype: float64

In [215]:
ts[0:31].mean()

-0.4020028370688664

### Downsampling

In [216]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')

In [217]:
ts = pd.Series(np.arange(12),index=rng)

In [218]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [220]:
ts.resample('5min', closed = 'right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [221]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [222]:
ts.resample('5min', closed='right', label='right', loffset='-1s').sum()

<ipython-input-222-793d385fe06a>:1: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  ts.resample('5min', closed='right', label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32